# Configurações do Servidor Streamlit
STREAMLIT_SERVER_PORT=8501
STREAMLIT_SERVER_ADDRESS=0.0.0.0

# Configurações do Ambiente
# Opções: development, staging, production
ENVIRONMENT=development

# Nível de Logs (opcional)
# Opções: DEBUG, INFO, WARNING, ERROR
LOG_LEVEL=INFO
